html, body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	margin: 0;
}
#wrapper {
	flex: 1 0 auto;
}
footer {
	flex: 0 0 auto;
}
footer .container {
	padding: 15px 0;
	border-top: 1px solid #ccc;
	margin-top: 30px;
	color: #aaa;
	text-align: center;
}
.container {
	box-sizing: border-box;
	margin:0 auto;
	max-width: 920px;
	min-width: 320px;
}

/* Атомарные классы */

.bimg, .bimg img {
	display: block;
	width: 100%;
}

/* Основное */

#inner_wrap {
	display: flex;
	gap: 15px;
}
section {
	flex-grow: 1;
}
aside {
	flex-basis: 270px;
}

header {
	margin-bottom: 30px;
}
header .row.c1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}
header .contact_area {
	display: flex;
	flex-direction: column;
	text-align: center;
}
header .row.c2 {
	background: #1a1a1a;
	display: flex;
	padding: 10px 20px;
	justify-content: space-between;
	align-items: center;
}
header nav a {
	color: #fff;
	text-decoration: none;
	margin: 0 20px 0 0;
}
header .cart_area {
	display: flex;
}
header .ico {
	display: block;
	min-width: 18px;
	height: 18px;
	margin-left: 10px;
	text-decoration: none;
}
header .ico.favorite {
	background: url(images/favorite.png);
}
header .ico.cart {
	background: url(images/cart.png) no-repeat;
}
header .ico.cart.has .count {
	background: #f6f5f1;
	border-radius: 2px;
	padding: 3px 7px;
	font-size: 0.9em;
	margin-left: 25px;
}

.categories_link a:first-child {
	margin-top: 0;
}
.categories_link a {
	display: block;
	padding: 5px 10px;
	margin: 10px 0;
	border: 1px solid transparent;
}
.categories_link a:hover {
	border-color: #1a1a1a;
}

#catalog_list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}
#catalog_list .item {
	border: 1px solid #bebebe;
}
#catalog_list .inner {
	padding: 10px;
}
#catalog_list .name {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 5px;
}
#catalog_list .more_area {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}
#catalog_list .more {
	background: #0078D7;
	color: #fff;
	text-decoration: none;
	padding: 3px;
	display: inline-block;
}

/* Адаптив */

@media all and (min-width: 951px) {
	.nob {
		display: none;
	}
	
}
@media all and (max-width: 950px) {
	.container:not(.cpn) {
		padding-left: 15px;
		padding-right: 15px;
	}
	.nom {
		display: none;
	}

}
